.containerCard{
    width: 200px;
    height: fit-content;
    background-color: transparent;
    margin: 10px;
    border-radius: 20px;
    transition: all 0.2s ease;
    cursor: pointer;
    position: relative;
}
.containerCard:hover{
    transform: scale(1.04);
}
.nomeFilme{
    color: #fff;
    padding: 15px 15px 15px 15px;
    height: 70px;
    background-color: #2c2c2c;
    width: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.container{
    max-width: 70%;
    height: auto;
    min-width: 300px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.imgFilme img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.play{
    width: fit-content;
    position: absolute;
    top: 30%;
    left: 35%;
}
.detail{
    background-color: red;
    border-radius: 0px;
    margin-top: 10px;
    width: 100%;
}